autopep8==1.5.7
branca==0.4.2
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
folium==0.12.1
idna==3.2
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.21.2
Pillow==8.3.1
pycodestyle==2.7.0
requests==2.26.0
toml==0.10.2
urllib3==1.26.6
